data/papers/
data/training/raw/
data/training/processed/
data/faiss_index/
data\training\raw\arXiv_scientific_dataset.csv
__pycache__/
data/
node_modules/

__pycache__/
backend/__pycache__/
routes/__pycache__/`